# Automated Data Entry Project Documentation

## Step 1- Import required libraries

In [1]:
import pandas as pd
from openpyxl import load_workbook

## Step 2- Read Customer data from csv file

In [2]:
customer_data= pd.read_csv("purchase behaviou dataset.csv")

In [3]:
customer_data

       LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0                1000   YOUNG SINGLES/COUPLES          Premium
1                1002   YOUNG SINGLES/COUPLES       Mainstream
2                1003          YOUNG FAMILIES           Budget
3                1004   OLDER SINGLES/COUPLES       Mainstream
4                1005  MIDAGE SINGLES/COUPLES       Mainstream
...               ...                     ...              ...
72632         2370651  MIDAGE SINGLES/COUPLES       Mainstream
72633         2370701          YOUNG FAMILIES       Mainstream
72634         2370751          YOUNG FAMILIES          Premium
72635         2370961          OLDER FAMILIES           Budget
72636         2373711   YOUNG SINGLES/COUPLES       Mainstream

[72637 rows x 3 columns]

## Step 3- Open the spreadsheet path for Purchase behavior data entry

In [4]:
spreadsheet_path= "Purchase_Behavior_DataEntry.xlsx"
workbook= load_workbook(spreadsheet_path)
worksheet= workbook.active

## Step 4- Enter data into spreadsheet

In [5]:
header_row = customer_data.columns.tolist()
for col_index, column_name in enumerate(header_row):
    worksheet.cell(row=1, column=col_index+1).value = column_name

In [6]:
for index,row in customer_data.iterrows():
    Loyalty_card_number= row["LYLTY_CARD_NBR"]
    lifestage = row["LIFESTAGE"]
    premium_customer= row["PREMIUM_CUSTOMER"]
    
    worksheet.cell(row=index+2, column=1).value = Loyalty_card_number
    worksheet.cell(row=index+2, column=2).value = lifestage
    worksheet.cell(row=index+2, column=3).value = premium_customer

## Step 5- Save and close the spreadsheet

In [7]:
workbook.save(spreadsheet_path)
workbook.close()